* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}

img {
    max-width: 100%;
}

ul,
ol,
menu {
    list-style-type: none;
}

:root {
    --bg-green: #009688;
    --bg-beige: #DCDBD1;
    --icon-grey: #C5B7AC;
    --bg-header-grey: #F9EFF0;
    --notification-light-blue: #8EDAFC;
    --message-green: #D5F9BA;
}

body{
    height: 100vh;
    background: linear-gradient(to top,
      var(--bg-beige) 85%,
      var(--bg-green) 85%,
      var(--bg-green) 100%
    );
}

/*******************
UTILITY CLASSES 
*******************/

.d-flex {
    display: flex;
}

.d-flex-center {
    display: flex;
    align-items: center;
}

/* LAYOUT */

.container1 {
    max-width: 1450px;
    margin: 0 auto;
}

.row {
    width: 100%;
    margin-top: 25px;
    display: flex;
}

.col-left-body {
    flex-basis: calc(100%*2/5);
    height: 95vh;
    background-color: red;
    flex-direction: column;
    border-right: 1px solid grey;
}

.col-right-body {
    flex-basis: calc(100%*3/5);
    height: 95vh;
    background-color: coral;
    flex-direction: column;
}

/* IMAGES and RELATED TEXTS*/

img[class$="img"] {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sm-img {
    height: 52px;
    margin: 10px;
}

.big-img {
    height: 62px;
    margin: 10px 15px;
}

span[class$="text"] {
    font-family: sans-serif;
    font-weight: bold;
}

.sm-text {
    font-size: 0.8rem;
}

.big-text {
    font-size: 1rem;
}

.underline-text {
    color: grey;
    text-decoration: underline;
}

/************ 
LEFT-BODY 
************ */

/* LEFT BODY HEADER */

.body-header {
    width: 100%;
    height: 70px;
    background-color: var(--bg-header-grey);
    justify-content: space-between;
}

.header-user {
    height: 100%;
}

.header-tools {
    height: 100%;
    padding-right: 10px;
}

.icon-tools {
    font-size: 1.5rem;
    color: var(--icon-grey);
    padding: 8px;
}

.icon-tools.fa-ellipsis-vertical {
    padding: 8px 17px;
}

/* LEFT BODY NOTIFICATION */

.left-body-notification {
    width: 100%;
    height: 80px;
    background-color: var(--notification-light-blue);
}

.notification-icon-box {
    width: 54px;
    line-height: 54px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: white;
    margin: 10px;
    justify-content: center;
}

.notification-icon {
    font-size: 24px;
    background-color: white;
    color: var(--notification-light-blue);  
}

/* LEFT BODY SEARCH BAR */

.left-body-search-bar {
    width: 100%;
    height: 55px;
    background-color: var(--bg-header-grey);
    color: grey;
    padding: 6px;
}

.input-group-search-bar {
    width: calc(100% - 12px);
    height: 40px;
}

#search-value {
    height: 100%;
    flex-basis: 15%;
    background-color: white;
    border-radius: 5px 0 0 5px;
    border-right: 1px solid var(--bg-header-grey);
    justify-content: center;
}

.search-value i {
    font-size: 18px;
}

.search-form {
    height: 100%;
    flex-grow: 1;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px;
}

/* LEFT BODY CONTACTS */

.left-body-contacts {
    width: 100%;
    flex-grow: 1;
    background-color: rgb(0, 238, 255);
    flex-direction: column;
    position: relative;
    background-color: white;
}

.left-contacts-user {
    border-bottom: 1px solid var(--bg-header-grey);
}

.last-message {
    color: #C5B7AC;
}

.date {
    position: absolute; 
    top: 5px;
    right: 5px;
    color: 
}

/************* 
 RIGHT-BODY 
 ************ */

/* RIGHT BODY HEADER */

.right-body-header {
    width: 100%;
    height: 70px;
    background-color: red;
}

/* RIGHT BODY CONVERSATION */

.right-body-conversation {
    width: 100%;
    flex-grow: 1;
    background-color: rgb(255, 145, 0);
}

/* RIGHT BODY MESSAGE BAR */

.right-body-message-bar {
    width: 100%;
    height: 70px;
    background-color: yellow;
}

/***********
HOVER
***********/

.icon-tools:hover {
    color: white;
}

