<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        
        <div class="body-app">

            <main>

                <div class="container1">
    
                    <div class="row">
    
                        <!-- START LEFT BODY -->
                        <div class="col-left-body d-flex">
    
                            <!-- HEADER LEFT BODY -->
                            <header class="left-body body-header d-flex">
    
                                <div class="left-header header-user d-flex-center">
    
                                    <img class="sm-img" src="./img/ironman-user.png" alt="ironman logo">
                                    <span class="sm-text">Iron Man</span>
    
                                </div>
    
                                <div class="left-header header-tools d-flex-center">
    
                                    <ul style="display: contents">
                                        <li>
                                            <i class="fa-solid fa-circle-notch icon-tools"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-message icon-tools"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical icon-tools"></i>
                                        </li>
                                    </ul>                               
                                    
                                </div>
    
                            </header>
    
                            <!-- NOTIFICATION LEFT BODY -->
                            <section class="left-body-notification d-flex-center">
    
                                <div class="notification-icon-box d-flex-center">
                                    <i class="notification-icon fa-solid fa-bell-slash"></i>
                                </div>
    
                                <div class="notification-text">
    
                                    <span class="big-text" style="display: block;">Ricevi notifiche di nuovi messaggi</span>
                                    <span class="underline-text" >Attiva notifiche desktop</span>
                                    
                                </div>  
    
                            </section>
    
                            <!-- SEARCHBAR LEFT BODY -->
                            <section class="left-body-search-bar d-flex-center">
    
                                <div class="input-group-search-bar d-flex-center">
    
                                    <button id="search-value" class="d-flex-center">
                                        <i class="fa-solid fa-magnifying-glass" style="pointer-events: none;"></i>
                                    </button>
                                    <input v-model="searchString" type="text" class="search-form" placeholder="Cerca o inizia una nuova chat" aria-label="search-form" aria-describedby="basic-addon1">
    
                                </div>
    
                            </section>
    
                            <!-- CONTACTS LEFT BODY -->
                            <section class="left-body-contacts d-flex">
    
                                <template v-for="(contact, index) in contacts">
    
                                    <div v-if="searchInContacts(contact.name) === true" class="left-contacts-user d-flex-center"  @click="getConversation(index)">

                                        <img class="big-img" :src="contact.avatar" alt="">
        
                                        <div class="contacts-user-text">
                                            <span class="big-text">{{contact.name}}</span> <br>
                                            <span class="last-message sm-text">Ultimo messaggio</span>
                                        </div>
        
                                        <div class="contacts-date date-text">
                                            12:00
                                        </div>

                                    </div>
                                    
                                </template>
    
                            </section>
    
                        </div>
                        <!-- END LEFT BODY -->
    
                        <!-- START RIGHT BODY -->
                        <div class="col-right-body d-flex">
    
                            <!-- RIGHT BODY HEADER -->
                            <header class="right-body body-header d-flex">
    
                                <div class="right-header header-user d-flex-center">
    
                                    <img class="sm-img" :src="activeContact.avatar" alt="batman logo">
                                    <span class="sm-text">{{activeContact.name}}</span>
    
                                </div>
    
                                <div class="right-header header-tools d-flex-center">
    
                                    <ul style="display: contents">
                                        <li>
                                            <i class="fa-solid fa-circle-notch icon-tools"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-message icon-tools"></i>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-ellipsis-vertical icon-tools"></i>
                                        </li>
                                    </ul>                               
                                    
                                </div>
    
                            </header>
    
                            <!-- RIGHT BODY CONVERSATION -->
                            <section class="right-body-conversation d-flex">
    
                                <div v-for="(msg, index) in activeContact.messages" class="conversation-message" :class="msg.status === 'sent' ? 'message-sent' : '' ">
    
                                    <div class="sm-text" style="font-weight: normal;">{{msg.message}}</div>
                                    <div class="conversation-date date-text">
                                        {{ getTimeFromFormat(activeContact, index) }}
                                    </div>
    
                                </div>
    
                            </section>
    
                            <!-- RIGHT BODY MESSAGE BAR -->
                            <section class="right-body-message-bar d-flex">
    
                                <div class="message-bar-emoticons d-flex-center">
                                    <i class="fa-regular fa-face-smile icon-tools"></i>
                                </div>
    
                                <div class="input-group-message-bar d-flex-center">
                                    <input v-model="newMessage" @keyup.enter="sendMessage(currentContact)" type="text" class="message-form" placeholder="Scrivi un messaggio" aria-label="message-form" aria-describedby="basic-addon1">
                                </div>
    
                                <div class="message-bar-audio-vocals d-flex-center">
                                    <i class="fa-solid fa-microphone icon-tools"></i>
                                </div>
    
                            </section>
    
                        </div>
                        <!-- END RIGHT BODY -->
    
                    </div>
    
                </div>
    
            </div>
    
        </main>
    
    </div>

    <script src="./js/luxon.js"></script>
    <script src="https://kit.fontawesome.com/f845cc90f8.js" crossorigin="anonymous"></script>
    <script src="./js/app.js"></script>
</body>
</html>